*.box
*.ova
*.swo
*.swp
*.zip
.DS_Store
.bundle
.localized
.sass-cache
.terraform
.vagrant
/*.iml
/.idea
docs/dist
labs-vm/tests/fixtures/**/*.plan
labs-vm/tests/fixtures/**/*.tfstate*
docs-toolkit/node_modules
labs-vm/output-*
labs-vm/packer-manifest.json
labs-vm/DUMMY*
labs-vm/docker/.cache
labs-vm/cloudbees-*-training
packer_cache
~*.docx
~*.pptx
